body{
    background-color: #f2d5db;
    color: #fdffff;
    width: 500px;
    margin-right: auto;
    margin-left:auto;
}

button{
    padding:5px 20px;
    background-color: #bbbcde;
    color: #fdffff;
    border-style: none;
    transition:300ms;
    outline:none;
}

button:active{
    opacity:0.8;
    background-color:#f9a6b7;

}

input{
    height: 25px;
}
